.c-item{
    height: 600px;
   }
   
   .c-img{
       height: 100%;
       object-fit: cover;
       filter: brightness(0.2);
   }
   
   .overview{
       height: 180px;
       background-color: #d3dae1;
   }

.custom__header{

    background-color: var(--white);
    height: 75px;
    border-bottom: 1px solid #eee;

    .container{
        align-items: center;
        justify-content: space-between;
    }

    .closeup{
        flex-grow: 0;
        background-color: #fff;
        z-index: 9999999999;
    }

    a{
        color: #000;
    }

    a:hover{
        color: #777;
    }

    .brand__name{
        a{
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    .brand__logo{
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 15px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }

    .navbar-nav{
        gap: 12px;

        a{
            font-size: 11.5px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

   .brandId{
    display: flex;
    align-items: center;
   }

   .helpers{
    background-color: var(--primary);
    padding: 8px;
    color: #fff;
    font-size: 14.5px;
    text-align: center;
   }

   .hero{
    overflow: clip;
    position: relative;
    
    .container{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .textContent{

        width: 600px;
        margin-top: 100px;
        
        h1{
            font-weight: 600;
            font-size: 50px;
            letter-spacing: -.5px;

            span{
                color: #00813c;
            }
        }

        p{
            margin-top: 20px;
            width: 80%;
            font-size: 17px;
            line-height: 29px;
            color: #666;
        }

        .button__custom{
            padding: 18px 28px;
            background-color: var(--primary);
            width: max-content;
            border-radius: 100px;
            margin-top: 40px;
            color: var(--white);
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            text-decoration: none;
        }

    }

    .ui__comp{

        width: 550px;

        img{
            width: 150%;
        }
    }

   }

   .bottom__section{
    margin-top: -30px;
   }

   .title__part{
    font-size: 21px;
    text-align: left;
    font-weight: 600;
    margin-top: -50px;
   }

   .cards__features{
    margin-top: 50px !important;
    background-color: #eee;
    padding: 40px;
    margin-bottom: 100px;
    gap: 50px !important;
   }

   .col{

    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 30px !important;

    a:hover{
        color: #00813c;
    }

    h3{
        font-size: 18px;
        font-weight: 600; 
    }

    a{
        color: #00813c;
    }

   }

   .page__body{
    margin-top: 20px;

   }

   .list-group-item.active {
    background-color: green !important;
}

.nav__active{
    color: green !important;
    font-weight: 700 !important;
    ;
}


@media (max-width: 575px) {

    .closeup{

        padding: 20px;
        top: 75px;
        position: absolute;
        left: 0;
        width: 100%;

    }

    .hero{

        overflow: clip;
        position: relative;
        
        .container{

            flex-direction: column;

            justify-content: space-between;
            gap: 30px;

        }

        .textContent{

            width: 100% !important;
            margin-top: 30px !important;
            
            h1{
                font-weight: 600;
                font-size: 40px;
                line-height: 50px;
                letter-spacing: -.5px;
    
                span{
                    color: #00813c;
                }
            }
    
            p{
                margin-top: 20px;
                width: 100%;
                font-size: 15px;
                line-height: 29px;
                color: #666;
            }
    
            .button__custom{
                padding: 18px 28px;
                background-color: var(--primary);
                width: 100%;
                border-radius: 100px;
                margin-top: 30px;
                color: var(--white);
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                text-decoration: none;
                font-size: 15px;
                justify-content: center;
            }
    
        }

    } 

    .player{
        display: flex !important;
        flex-direction: column !important;

        .float__r{
            margin-top: 80px;
            width: 100%;
        }
    } 

    .custom__row{
        display: flex;
        width: 100% !important;
        top: 112px;
        left: 0 !important;
        background-color: #fff;
       padding-top: 15px;
       padding-bottom: 8px;

        .list-group{

            display: flex !important;
            flex-direction: row !important;
            gap: 6px;
            overflow: hidden;
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
              }

            .list-group-item {
                width: max-content;
                flex-shrink: 0;
                border-radius: 8px !important;
                border:  1px solid #e6e6e6;
            }

        }
        
    }


}