<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <!-- css links -->

     <link rel="stylesheet" href="styles/global/style.css">
     <link rel="stylesheet" href="styles/header/style.css">
     <link rel="stylesheet" href="styles/body/style.css">
     <link rel="stylesheet" href="styles/footer/style.css">
 
 
     <!-- css linked here -->

     <!-- Bootstrap links -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

<!-- Bootstrap linked here -->

</head>
<body>

    <header style="position: fixed;" class="w-100">

        <nav class="navbar bg-success navbar-expand-sm">
    
            <div class="container">
    
                <a href="/index.html" class="navbar-brand text-light ">Documentation</a>
                
                <div class="collapse navbar-collapse" id="">
    
                    <ul class="navbar-nav d-flex justify-content-betweul">
    
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/pages/getstarted.html">Get Started</a></li>
    
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/pages/style/style.html">Style Blocks</a></li>
    
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/pages/components/navigationmenu.html">Components</a></li>
    
                    </ul>
    
                </div>
    
            </div>
    
         </nav>
         
    
    </header>
        

    <div class="container" style="padding-top: 70px;">

 

        <div class="row">
                <div class="col-3 custom__active" style="position: fixed;">
                    <div id="list-example" class="list-group">
                            <a class="list-group-item list-group-item-action" href="../components/navigationmenu.html">Navigation Menu </a>
                            <a class="list-group-item list-group-item-action" href="../components/button.html"> Buttons</a>
                            <a class="list-group-item list-group-item-action" href="../components/card.html">Cards</a>
                            <a class="list-group-item list-group-item-action" href="../components/contact.html">Contact</a>
                            <a class="list-group-item list-group-item-action" href="../components/form.html">Form</a>
                            <a class="list-group-item list-group-item-action" href="../components/formgroup.html">Form group </a>
                            <a class="list-group-item list-group-item-action active" href="../components/dialoguebox.html">Dialogue box</a>
                            <a class="list-group-item list-group-item-action" href="../components/socialmedia.html">Social Media Components</a>
                            <a class="list-group-item list-group-item-action" href="../components/footer.html">Footer</a>
                    </div>
                </div>

                <div class="col-4"></div>

                <div class="col-8">


                    <h2 id="list-item-1" class="mt-4">Dialogue Box</h2>

                <h4 id="lis" class="mt-4"></h4>

                <div>
                    <div>
                        <p>
                            A dialogue box is a small, interactive pop-up window that appears on top of the main content to communicate important information or request user input. It typically requires the user to take action, such as confirming, canceling, or providing additional details.</p>

                        <p>Dialogue boxes are commonly used to ensure users make deliberate decisions or to provide important information without navigating away from the current page.
                        </p>



                        


                        <p class="fst-italic fs-3">Example</p>
                        <div class="mt-4" style="background-color: #E7E9EB;; border: 1px solid black;">

                            <div class="mx-5 my-3" style="background-color: white ; color black">
                                <div class="">
                                    <ul>
                                        <li>Lagos State</li>
                                        <li>Lagos State</li>
                                        <li>Lagos State</li>
                                    </ul>
                                </div>
                            </div>

                        </div>


                

                    </div>


                    <span></span>
                       
                    
                </div>

        </div>       
               
</div>
    
</body>
</html>