<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <!-- css links -->

     <link rel="stylesheet" href="/styles/global/style.css">
     <link rel="stylesheet" href="/styles/header/style.css">
     <link rel="stylesheet" href="/styles/body/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
 
     <!-- css linked here -->

     <!-- Bootstrap links -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

<!-- highlight.js links -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

<script>hljs.highlightAll();</script>

</head>
<body>

    <header class="header__fixed">

        <div class="helpers"> 🚀 We just launched v1 of our documentation site, <strong> v2.0 comming soon!</strong> </div>

        <nav class="navbar navbar-expand-sm navbar-light custom__header">
    
            <div class="container">
    
                <div class="brandId">
                    <div class="brand__logo"> <img src="/assets/brand/logo.png" alt=""> </div>
                    <div class="brand__name"> <a href="index.html" class="navbar-brand"> style Documentation </a> </div>
                </div>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
    
                <div class="collapse navbar-collapse closeup" id="navbarSupportedContent">
    
                    <ul class="navbar-nav">
    
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/introduction.html">Get Started</a></li>
    
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/pages/style/style.html">Style Blocks</a></li>
    
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/pages/components/navigationmenu.html">Components</a></li>
    
                    </ul>
    
                </div>
    
            </div>
    
         </nav>
    
    </header>
        

    <div class="container page__body" style="margin-top: 130px;">

 

        <div class="row player">
                <div class="col-3 custom__active custom__row" style="position: fixed; left: 10%;">
                    <div id="list-example" class="list-group">
                            <a class="list-group-item list-group-item-action" href="../components/navigationmenu.html">Navigation Menu </a>
                            <a class="list-group-item list-group-item-action" href="../components/button.html"> Buttons</a>
                            <a class="list-group-item list-group-item-action active" href="/pages/components/gallery.html"> Gallery</a>
                            <a class="list-group-item list-group-item-action" href="/pages/components/modal.html"> Modal</a>
                            <a class="list-group-item list-group-item-action" href="../components/card.html">Cards</a>
                            <a class="list-group-item list-group-item-action" href="../components/socialmedia.html">Social Media</a>
                            <a class="list-group-item list-group-item-action" href="../components/footer.html">Footer</a>
                    </div>
                </div>

                <div class="col-4"></div>

                <div class="col-8 float__r">


                    <h2 id="list-item-1">Gallery</h2>

                <h4 id="lis" class="mt-4"></h4>

                <p>A gallery is often used to refer to a collection of images, videos, or other media that are displayed in a grid or slideshow format on a website or app. Users can interact with the gallery by clicking to view larger images, navigate through items, or explore content in different ways.</p>

                <div>
                    


                    
                       
                    
                </div>

        </div>       
               
</div>
    
</body>
</html>